
*{
  text-align:center;
}

.box{
  height:200px;
  width:200px;
  mergin:1.5rem;
  border:10px solid black;
}

.green{
  background-color:green;
}

.red{
  background-color:red;
}

.yellow{
  background-color:yellow;
}

.blue{
  background-color:blue;
}

.Main-box{
  display:flex;
  justify-content:center;
  align-item:center
}
